{
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "ignorePatterns": ["node_modules/", "cypress/"],
  "rules": {
    "prettier/prettier": "error"
  }
}
